/* *{
   box-sizing: border-box; */
   /* overflow: hidden; */
/* }

body{
   max-width: 1200px;
   padding: 0;
   margin: 0;
} */

nav{
   display: flex;
   list-style: none;
   justify-content: space-between; 
   /* separa el menú de la búsqueda */
   align-items: center;            
  /* alinea verticalmente al centro */
   overflow: hidden;
   position: relative;
   width: 100%;
   margin: 0;
   background-color: #013E7C;
   /* padding: 1.1em; */
}

nav ul{
   display: flex;
   list-style-type: none;
   height: 60px;
   margin: 0;
   padding: 0;
}

nav li{
   display: flex;
   align-items: center;
}
nav li a{
   display: flex;
   align-items: center;
   height: 100%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   text-decoration: none;
   color: white;
   padding: 1em 1em;
   transition: background-color 0.5s;
}

nav li a:hover{
   background-color: #0E74A5;
   padding: 1em;
}

nav div{
   max-width: 200px;
}

nav div form{
   /* float: right; */
   margin-right: 30px;
}

nav div form input{
   border: solid 1px #EDEDED;
   border-radius: 15px;
   padding: 10px;
}