/* Reset general */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* NAV principal */
nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #013E7C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

/* Menú principal */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px;
}

nav li {
  display: flex;
  align-items: center;
  position: relative; /* Importante para dropdown */
}

nav li a {
  display: flex;
  align-items: center;
  padding: 1em;
  height: 100%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav li a:hover {
  background-color: #0E74A5;
}

/* Dropdown */
/* .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;  */
  /* se coloca justo debajo del <li> */
  /* left: 0;
  background-color: #013E7C;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
} */

.dropdown-content a {
  padding: 1em 0.7em;
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #0E74A5;
}

/* Mostrar el dropdown al pasar el ratón */
/* .dropdown:hover .dropdown-content {
  display: block;
} */
 .dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #013E7C;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
}

.dropdown:hover > a {
  background-color: #0E74A5;
}

/* Buscador */
nav .search-container {
  max-width: 200px;
  margin-right: 30px;
}

nav .search-container input {
  border: 1px solid #EDEDED;
  border-radius: 15px;
  padding: 10px;
}




.large-content{
   background-color: antiquewhite;
   margin: 2em;
   text-align: center;
   padding-bottom: 2500px;
}