*{
   box-sizing: border-box;
   /* overflow: hidden; */
}

body{
   max-width: 1200px;
   padding: 0;
   margin: 0;
}

nav{
   display: flex;  
   justify-content: space-between; 
   /* separa el menú de la búsqueda */
   align-items: center;            
  /* alinea verticalmente al centro */
   overflow: hidden;
   width: 100%;
   background-color: #013E7C;
   padding: 1.1em;
}

nav ul{
   width: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav li{
   display: inline;
}
nav li a{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   text-decoration: none;
   color: white;
   padding: 1.1em;
}

nav li a:hover{
   background-color: #0E74A5;
   padding: 1.1em;
}

nav div form input{
   border: solid 1px #EDEDED;
   border-radius: 15px;
   padding: 10px;
}