
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* .unbounded-<uniquifier> {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

*{
  box-sizing: border-box;
}

header{
  border-bottom: 3px groove gray;
}

nav{
  display: flex;
  justify-content:space-around;
  list-style: none;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0;
}

nav ul{
   display: flex;
   list-style-type: none;
   height: 60px;
   margin: 0;
   padding: 0;
}

main{
  margin: 0 2em;
  padding: 0;
}

h1{
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 2em;
}

.box-intro{
  display: flex;
  align-items: center;       /* Centra verticalmente las imágenes con el texto */
  justify-content: space-between; /* Opcional: reparte el espacio */
  gap: 2rem;                 /* ✅ Este es el espacio entre los articles */
  /* padding: 2rem; */
}

.box-intro .text-box{
  flex: 2;
}

.box-intro .circle-img{
  flex: 1;
}

.img-grid{
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 1em;
  justify-content: right;
}

.img-grid img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
}

.text-box, .circle-img {
  border: 1px solid red;
  min-height: 150px;
  flex: 1;
}



/* Gestionamos la línea de borde de section y article
para que podamos ver qué se pinta y dónde */
section{
  border: 1px solid green;
}

article{
  border: 1px solid red;
}
/* Fin de gestión de líneas pintadas */

@media (max-width: 768px) {
  .box-intro {
    flex-direction: column;
    text-align: center;
    align-items: center; /* centra los elementos al hacer columna */
  }

  .circle-img {
    justify-content: center;
    width: 100%;
  }

  .img-grid {
    grid-template-columns: repeat(2, 80px); /* columnas más pequeñas en móvil */
    gap: 10px;
  }

  .circle-img img {
    width: 80px;
    height: 80px;
  }
}